@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------Colours---------*/

/*---------Special Paddings and margins---------*/

/*---------Headers---------*/

/*---------Hovers---------*/

/*---------Footers---------*/

/*---------  ---------*/

/*---------  ---------*/

.navbar-nav {
    right: 30px;
    position: absolute;
    color: #fff;
    padding: 0;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand {
    padding-left: 15px;
}

body {
    padding: 60px 10px 50px 10px;
}

header {
    background-color: #676767;
}

.navbar {
    background-color: #3171d1;
    padding: 0;
}

.sr-only {
    color: #fff;
}

.hvr-radial-out {
    background-color: #3171d1;
}