@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------Colours---------*/

/*---------Special Paddings and margins---------*/
.navbar-brand {
    padding-left: 25px;
}

body {
    padding: 100px 10px 50px 10px;
}

.navbar {
    padding: 0;
}

/*---------Headers---------*/

/*---------Hovers---------*/

/*---------Footers---------*/

/*---------  ---------*/

/*---------  ---------*/

.navbar-nav {
    right: 30px;
    position: absolute;
    padding: 0;
}
.nav a {
    position: relative;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}


.hvr-radial-out {
    background-color: #fff;
}

.hvr-radial-out:before {
    transition: ease-in 0.4s ;
    background-color: royalblue;
}

.active { 
    text-decoration: underline 4px;
    font-weight: 600;
}
