@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------Colours---------*/

/*---------Special Paddings and margins---------*/

/*---------Headers---------*/

/*---------Hovers---------*/

/*---------Footers---------*/

/*---------  ---------*/
.float-right {
    float: right;
}
/*---------  ---------*/

.navbar-nav {
    right: 30px;
    position: absolute;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand {
    padding-left: 15px;
}

body {
    padding: 60px 10px 50px 10px;
}
